<!DOCTYPE html>
<html>
  <head>
    <title>SIRIS ADMIN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
              <% if current_user %>
          <nav class="navbar navbar-fixed-top navbar-default navbar-caixa" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%= link_to (image_tag 'CAIXA_chapada_negativa.png'), root_path, class: 'navbar-brand'%>
              </div>
              <div class="collapse navbar-collapse" id="navbar-collapsable">
                <ul class="nav navbar-nav" style="margin-left: -8%;">
                  <li>
                    <%= link_to "Notícias", news_index_path , class: 'navbar-left' %>
                  </li>
                  <li>
                    <%#= link_to "Mídia", media_path , class: 'navbar-left' %>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" align="right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user ? current_user.email[/[^@]+/] : '' %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li> <%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <% end %>
      <div class="row">
        <div class="col">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
